{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th>번호</th>
        <th>단어(한국어)</th>
        <th>단어(영어)</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>

<a href="/articles/new">새 단어</a>

{{>layouts/footer}}
